
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #ADD8E6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFD580;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  font-family: 'Georgia', serif;
}


.container {
  max-width: 700px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;
  padding: 40px;
  margin-top: 50px;
}

.full-name {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

div.full-name .first-name,
div.full-name .last-name {
  font-weight: 300;
}

.contact-info {
  margin-bottom: 20px;
}


@media only screen and (min-width: 480px) {
  .container {
    padding: 20px;
  }

  .full-name {
    font-size: 30px;
  }

  
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 90%;
  }

 
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.song {
  background-color: #F1ECE6;
  background-image: linear-gradient(white, #F1ECE6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  border-radius: 10px;
  max-width: 300px;
  text-align: justify;
  padding: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}


@media (max-width: 768px) {
  main {
    justify-content: flex-start;
  }

  .song {
    max-width: 100%;
  }
}
